*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #f0f8ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 7%;
    width: 100%;
    padding: 0 20px;
    z-index: 1;
}

.title {
    font-family: fantasy;
    position: relative;
    left: 3%;
    font-size: 45px;
    background: -webkit-linear-gradient(45deg, #a200ff, #00ffd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 5%;
    font-size: clamp(15px, 2vw, 22px);
}

.navigation ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    bottom: 0;
}

.link:hover::before {
    transform: scaleX(1);
}

a {
    text-decoration: none;
}

.subscribe {
    margin-left: 1.5rem; 
    border-radius: 2px;
    text-align: center;
    display: inline-block;
    color: black;
    height: 40px;
    width: 120px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00ffd5;
    font-weight: 1000;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.subscribe:hover {
    background-color: #a200ff;
    color: white;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

#home {
    background-color: #f0f8ff;
    width: 100%;
    height: 100vh;
}

.socials{
    width: auto;
    height: auto;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 1;
}

i{
    margin-top: 10px;
    color: black;
    margin-left: 30px;
    transition: transform 0.3s, color 0.3s;
}

i:hover{
    color: #4070f4;
    transform: scale(1.2);
} 

.introduction{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
    font-family: 'Ubuntu', sans-serif;
}

.greeting{
    font-size: 25px;
    color: #0E2431;
}

.name{
    margin-top: 10px;
    font-size: 75px;
    color: #0E2431;
    font-weight: 600;
}

.work{
    margin-top: 5px;
    font-size: 40px;
    color: #4070f4;
}

.country{
    margin-top: 5px;
    font-size: 23px;
    color: black;
}

section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-details .left{
    width: 45%;
}

.about .left img{

    max-width: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.about-details .right{
    width: 55%;
}

.about-details .right p {
    text-align: justify;
    color: #0E2431;
    font-size: 22px;
}

.about-title{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

#contact {
    height: 95vh;
    width: 100%;
    background-color: #f0f8ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

#contact h1 {
    color: #4070f4;
    font-size: 40px;
    margin-bottom: 20px;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-grow: 1;
}

.left, .right {
    
    padding: 20px;
    box-sizing: border-box;
}

.left{
    width: 500px;
}

form {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #0E2431;
    font-size: 20px;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    height: 100px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #4070f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #3050d0;
}

.right img {
    max-width: 400px;
    border-radius: 10px;
    
    
}

footer {
    text-align: center;
    font-size: 20px;
    color: #0E2431;
    background-color: #f0f8ff;
    height: 5vh;
    
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    animation: slideIn 0.5s ease-in-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-200px); }
    to { transform: translateY(0); }
}

@media(max-width: 1150px){
    .about .left img{

        max-width: 350px;
    }
}

@media(max-width: 1060px){
    .name{
        font-size: 65px;
    }
    
    .work{
        font-size: 35px;
    }
}

@media(max-width: 1000px){
    .about .left img{
        max-width: 300px;
    }
    .right img {
        width: 350px;
    }
}

@media(max-width: 930px){
    .name{
        font-size: 55px;
    }
    
    .work{
        font-size: 28px;
    }
    
    .about .about-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about .about-details .left{
        width: 55%;
    }
    
    .about .left img{
        max-width: 350px;
        border-radius: 10%;
        position: relative;
        top: 55px;
    }
    
    .about-details .right{
        width: 100%;
    }
    
    .about-title{
        position: relative;
        bottom: 400px;
    }

    .right img {
        max-width:0px;
    }

    .box{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
}

.socials-menu{
    display: none;
}
.btn-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn-close.show {
    display: block;
}

.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menu.show {
    display: block;
}

@media (max-width: 760px) {
    .hamburger-menu {
        display: block;
    }
    
    .modal-content .form-group {
        margin-right: 55px;
    }

    
    .menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background-color: white;
        padding-top: 10px;
        justify-content: space-around;
        align-items: center;
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        box-shadow: 0 2px 5px rgb(128, 117, 117);
        animation: slideIn 0.5s ease-in-out;
    }

    .menu.show {
        display: flex;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
    }

    .link {
        font-size: 24px;
        padding: 1rem;
    }

    .subscribe {
        border-radius: 10%;
        margin: 10px;
       
    }

    .btn-close {
        display: block;
    }

    form{
        position: relative;
        left: 30px;
    }
    
    .modal-content form{
        position: relative;
        right: 0;
        
    }
}



@media(max-width: 744px){
    .name{
        font-size: 50px;
    }
    
    .work{
        font-size: 25px;
    }

    .socials{
        font-size: 25px;
    }
}

@media(max-width: 667px){
    .name{
        font-size: 40px;
    }
    
    .work{
        font-size: 20px;
    }

    
}

@media(max-width: 533px){
    .name{
        font-size: 30px;
    }
    
    .work{
        font-size: 15px;
    }
    .title{
        font-size: 30px;
    }
    .about .left img{
        max-width: 200px;
    }
    .about-title{
        position: relative;
        bottom: 250px;
    }
}

@media(max-width: 397px){
    .greeting , .country{
        font-size: 15px;
    }
    
    .name{
        font-size: 24px;
    }
    
    .work{
        font-size: 12px;
    }

    .about .left img{
        max-width: 200px;
    }

    

    
    
    .about-title{
        position: relative;
        bottom: 250px;
    }
}
@media (max-width: 550px) {
    .socials{
        display: none;
    }
    .socials-menu{
        display: block;
        position: relative;
        right: 18px;
        font-size: 25px;
    }
    
}